{% extends 'inventario/layouts/base.html' %} 

{% block content %}
    <div class="container mx-auto flex flex-col items-center justify-center mt-20 mb-3">
        <h2 class="text-3xl font-bold mb-4">No tienes permisos para acceder a esta página</h2>
        <h4 class="text-3xl font-bold mb-8">Por favor, contacta al administrador si crees que esto es un error</h4>
        <img src="/media/error.png" alt="Imagen de error" class="w-1/3" style="max-width: 400px;">
        
        <!-- Botón para regresar a la página anterior -->
        <button onclick="window.history.back()" class="mt-8 bg-red-700 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
            Regresar a la página anterior
        </button>
    </div>
{% endblock %}
